* {
  box-sizing: border-box;
}

span {
  white-space: nowrap;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  display: flex;
}

.center {
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.correct {
  color: #18cd1b;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.current {
  text-decoration: underline;
}
